* {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  position: absolute;
  width: 100%;
  height: 100%;

  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo {
  align-self: center;
  
  margin-top: 20px;
  margin-bottom: 30px;
  /* font-family: 'Kreon', serif; */
  font-size: 7em;
  color: #f8ebff;
  text-shadow:
    /* rgb(246, 237, 255) 0.006em 0.006em 0.007em, */
    #bdabd1 1px 1px 1px,
    #bdabd1 1px 2px 1px,
    #bdabd1 1px 3px 1px,
    #bdabd1 1px 4px 1px,
    #bdabd1 1px 5px 1px,
    #bdabd1 1px 6px 1px,
    #bdabd1 1px 7px 1px,
    #bdabd1 1px 8px 1px,
    #bdabd1 1px 9px 1px,
    #bdabd1 1px 10px 1px,
    #bdabd1 1px 11px 1px,
    #bdabd1 1px 12px 1px,
    rgba(51, 39, 71, 0.4) 1px 18px 6px,
    rgba(51, 39, 71, 0.2) 1px 22px 10px,
    rgba(51, 39, 71, 0.2) 1px 26px 35px,
    rgba(51, 39, 71, 0.4) 1px 30px 65px,
    white -0.15em -0.1em 100px;
}

/* form elemets */

.inputs,
.generate,
.questions {
  display: flex;

  justify-content: center;
  align-items: center;
}

.inputs {
  flex-direction: row;

  flex-wrap: wrap;

  margin-top: 45px;
  margin-bottom: 45px;
  padding-left: 10vw;
  padding-right: 10vw;  

  width: 100%;
}

.btn {
  flex-wrap: wrap;

  height: 40px;

  margin-left: 25px;

  padding-left: 20px;
  padding-right: 20px;

  border-radius: 50px;
  background-color: #bdabd1;
  display: flex;

  border: none;

  font-weight: bold;

  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.685);
  text-decoration: none;

  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px rgba(90, 65, 124, 0.133),
              4px 4px 5px 0px rgba(90, 65, 124, 0.133);
  -webkit-box-shadow: 
              -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px rgba(90, 65, 124, 0.133),
              4px 4px 5px 0px rgba(90, 65, 124, 0.133);
  -moz-box-shadow: 
              -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px rgba(90, 65, 124, 0.133),
              4px 4px 5px 0px rgba(90, 65, 124, 0.133);
}

.btn:hover {
  color: #ffffff; 
  animation: colorchange 3s linear infinite;
}
.btn:active  {
  color: #ffffff; 
  background-color: #cfbce6;

  box-shadow:  4px 4px 6px 0 rgba(236, 236, 236, 0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(236, 236, 236,.5),
              inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  -webkit-box-shadow:  
              4px 4px 6px 0 rgba(236, 236, 236, 0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(236, 236, 236,.5),
              inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  -moz-box-shadow:  
              4px 4px 6px 0 rgba(236, 236, 236, 0.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(236, 236, 236,.5),
              inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.styledInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 350px;
  height: 40px;
  margin: 7px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #e7e7e7;
  transition: 0.25s ease;
  border-radius: 15px;

  box-shadow: inset 2px 2px 4px #bdbdbd, 
              inset -2px -2px 4px #f9f9f9;
  -webkit-box-shadow: 
              inset 2px 2px 4px #bdbdbd, 
              inset -2px -2px 4px #f9f9f9;
  -moz-box-shadow: 
              inset 2px 2px 4px #bdbdbd, 
              inset -2px -2px 4px #f9f9f9;
}

/* question section */

.questions {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  padding-left: 10vw;
  padding-right: 10vw;
}

.questionItem {
  width: 350px;
  min-height: 200px;
  background-color: #f5f5f5;

  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 25px;
  border-radius: 15px;

  box-shadow: 8px 8px 8px #bdbdbd;
  -webkit-box-shadow: 8px 8px 8px #bdbdbd;
  -moz-box-shadow: 8px 8px 8px #bdbdbd;

  transition: 0.3s;
}

.questionTitle {
  color: #bdabd1;
  margin-top: 0px;
}

.questionItem:hover {
  box-shadow: 0px 5px 20px 2px #9a7ebb;
  -webkit-box-shadow: 0px 5px 20px 2px #9a7ebb;
  -moz-box-shadow: 0px 5px 20px 2px #9a7ebb;
}

/* Modal window */

.questionModal,
.openModal,
.closeModal {
  transition: 0.2s;
}

.buttonWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.openModal,
.closeModal {
  display: flex;
  border: none;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  opacity: 0.5;
}

.openModal:hover,
.closeModal:hover {
  opacity: 1;
}

.openModal {
  border-radius: 50px;
  padding: 10px;

  color: rgb(255, 255, 255);
  background-color: rgb(217, 201, 230);
}

.closeModal {  
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;  

  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.closeModal:after{
  content: "\00d7"; 
}

.questionModal {
  display: inline-block;
  vertical-align: top;
  
  position: absolute;


  padding: 50px;

  line-height: 2;

  background-color: #d9c7ee;

  border-radius: 1rem;

  -webkit-box-shadow: 0px 5px 20px 2px #bdbdbd;
  -moz-box-shadow: 0px 5px 20px 2px #bdbdbd;
  box-shadow: 0px 5px 20px 2px #bdbdbd;
}


/* mobile */
@media only screen and (max-width: 768px) {
  .questionModal {
    width: 90%;

    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .btn {
    margin: 15px;
  }

}

/* tablet monitors laptops */
@media only screen and (min-width: 767px) {
  .questionModal {
    width: 50%;

    top: 20vh;
    left: 30vw;
    right: 30vw;
    bottom: 20vh;
  }
}
